#!/usr/bin/make -f
# Sample debian/rules that uses cdbs.  Originaly written by Robert Millan.
# This file is public domain.

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/autotools.mk
include /usr/share/cdbs/1/class/gnome.mk
include /usr/share/cdbs/1/rules/simple-patchsys.mk
include /usr/share/cdbs/1/rules/autoreconf.mk

DEB_CONFIGURE_EXTRA_FLAGS := --sbindir=/usr/bin --with-udev-rules
DEB_MAKE_INSTALL_TARGET := install DESTDIR=$(DEB_DESTDIR) udevrulesdir=/lib/udev/rules.d udevhelperdir=/lib/udev

binary-install/python-cupshelpers::
	dh_python2 -ppython-cupshelpers

# Generate the service file before the build so we substitute the
# correct path to the udev helper.
configure/system-config-printer-udev:: udev/configure-printer@.service

udev/configure-printer@.service: udev/configure-printer@.service.in
	sed -e 's,@udevhelperdir@,/lib/udev,g' $< > $@
